.idea/workspace.xml
tasks.xml
out/*
*.xml___jb_tmp___
dal/src/mongo.properties
.idea/artifacts/EAR_BUS.xml
.idea/artifacts/USBus_javaEEApplication.xml
.idea/artifacts/USBus_javaEEApplication_exploded.xml