
.logo {
    width: 150px;
    float: left;
    margin-right: 20px;
}
.USBusTitle {
    font-size:12px;
    text-shadow: 0 1px 2px #EEE;
    margin-left: 20px;
    padding-left: 20px;
}

.customToolbar {
    background: url('http://wordassociations.ru/image/600x/svg_to_png/Anonymous_Bus1.png') repeat-x right;
    background-size: auto 150px;
}

