.smallHomeImages {
    height: 30px;
    padding-right: 15px;
}

.bigHomeImages {
    height: 40px;
    padding-right: 15px;
}

.bigHomeSpan {
    padding-right: 40px;
}

.smallHomeSpan {
    padding-right: 30px;
}

.customContent {
	width: 90%;
}

.logo {
    width: 80px;
    margin-right: 20px;
}
.USBusTitle {
    font-size:32px;
    padding: 20px;
    float:left;
}

.customBus {
    padding-right:10px;
}

.smallCustomBus {
    max-height: 80px;
}

.bigCustomBus {
    max-height: 200px;
}

.customHeader {
    background: url('../img/Abstract_Blue.jpg') no-repeat;
    background-size: 100% 100%;
}

.customInput {
    width: 99%;
}

.customInputRegister {
    width: 99%;
}

.noMarginTopBottom {
    margin-bottom: 0px;
    margin-top: 15px;
}

.grayHeader {
    color: #292929!important;
}

label {
    color: rgba(43, 43, 43, 0.9)!important;
}

.registerContainer {
    margin:10px;
    box-shadow: 0 1px 6px rgba(0,0,0,.3);
    border-radius: 5px;
}

.label {
    color: #A3A3A3!important;
}



.whiteframedemoDirectiveAttributeUsage md-whiteframe, .whiteframedemoDirectiveAttributeUsage div.padded {
    background: #fff;
    margin: 30px;
    height: 100px; }
@media (max-width: 599px) {
    .whiteframedemoDirectiveAttributeUsage md-whiteframe, .whiteframedemoDirectiveAttributeUsage div.padded {
        margin: 7px;
        height: 50px;
		width: 35%;
        min-width: 65px;}
    .whiteframedemoDirectiveAttributeUsage md-whiteframe > span, .whiteframedemoDirectiveAttributeUsage div.padded > span {
        font-size: 0.4em; } }
@media (min-width: 600px) and (max-width: 959px) {
    .whiteframedemoDirectiveAttributeUsage md-whiteframe, .whiteframedemoDirectiveAttributeUsage div.padded {
        margin: 20px;
        height: 75px; }
    .whiteframedemoDirectiveAttributeUsage md-whiteframe > span, .whiteframedemoDirectiveAttributeUsage div.padded > span {
        font-size: 0.6em; } }
@media (min-width: 960px) and (max-width: 1279px) {
    .whiteframedemoDirectiveAttributeUsage md-whiteframe, .whiteframedemoDirectiveAttributeUsage div.padded {
        margin: 20px;
        height: 90px; }
    .whiteframedemoDirectiveAttributeUsage md-whiteframe > span, .whiteframedemoDirectiveAttributeUsage div.padded > span {
        font-size: 0.9em; } }
@media (min-width: 1280px) {
    .whiteframedemoDirectiveAttributeUsage md-whiteframe, .whiteframedemoDirectiveAttributeUsage div.padded {
        margin: 25px;
        height: 100px; }
    .whiteframedemoDirectiveAttributeUsage md-whiteframe > span, .whiteframedemoDirectiveAttributeUsage div.padded > span {
        font-size: 1.0em; } }

/* SHADOW FOR HOME MENU */
.wrapper {
}

.ripplelink:hover{
    z-index:1000;
    box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
}

/* SHADOW FOR HOME MENU */


.md-padding-bottom {
    padding-bottom: 30px;
}

.busSeat {
    position: absolute;
    top: 8px;
    left: 10px
}

.seatImage {
    height: 30px;
}

.busImage {
    height: 320px;
    width: 720px;
}

.seatcontainer {
    position:absolute;
    left: 150px;
    top: 77px;
}

.pointer {
    cursor: pointer;
}

.tableRow {
    padding-left: 1%;
    width: 20%;
}

.deleteIcon {
    width: 15px;
}

.editIcon {
    width: 20px;
}

.tableRowBusStop {
    width: 45%;
}

.customJumbotron {
    border-radius: 7px;
}


.transbox {
    padding: 10px;
    background-color: #ffffff;
    opacity:0.85;
}

.whiteColor {
    color: white;
}

md-divider {
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom: 1px solid rgba(250, 250, 250, 0.4);
    border-top-color: rgba(0,0,0,0.25);
}

.indexIcon {
    height: 35px;
    padding-right: 15px;
    color:white;
    float: left;
}

.indexIcon.material-icons {
    font-size: 40px;
}

.indexMenuOptions {
    padding-left: 15px;
    float:left;
}
