<!DOCTYPE html>
<html lang="en" ng-app="usbus" >
    <head>
        <meta charset="UTF-8">
        <title>USBus</title>

        <!-- STYLES -->
        <!-- Angular Material CSS -->
        <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css"/>
        <!-- Angular Material Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <!-- Custom css files -->
        <link rel="stylesheet" type="text/css" href="css/usbus.css"/>
        <!-- STYLES -->
        <link rel="SHORTCUT ICON" href="img/USBus.png" type="image/x-icon"/>





        <!-- SCRIPTS -->
        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/angular-route/angular-route.js"></script>
        <script src="node_modules/angular-resource/angular-resource.js"></script>
        <script src="node_modules/angular-material/angular-material.js"></script>
        <script src="node_modules/angular-animate/angular-animate.js"></script>
        <script src="node_modules/angular-aria/angular-aria.js"></script>
        <script src="node_modules/angular-messages/angular-messages.js"></script>


        <script src="js/usbus.js"></script>
        <script src="js/usbus.routes.js"></script>
        <script src="js/usbus.style.js"></script>
        <script src="js/controllers/login.controller.js"></script>
        <script src="js/controllers/register.controller.js"></script>
        <script src="js/controllers/index.controller.js"></script>
        <script src="js/controllers/home.controller.js"></script>
        <script src="js/controllers/journey.navigate.controller.js"></script>
        <script src="js/controllers/tickets.create.controller.js"></script>
        <script src="js/controllers/bus.navigate.controller.js"></script>
        <script src="js/controllers/bus.create.controller.js"></script>
        <script src="js/controllers/bus.edit.controller.js"></script>
        <script src="js/controllers/busStop.navigate.controller.js"></script>
        <script src="js/controllers/busStop.create.controller.js"></script>
        <script src="js/controllers/busStop.edit.controller.js"></script>
        <script src="js/controllers/route.navigate.controller.js"></script>
        <script src="js/controllers/route.create.controller.js"></script>
        <script src="js/controllers/route.edit.controller.js"></script>
        <script src="js/controllers/service.navigate.controller.js"></script>
        <script src="js/controllers/service.create.controller.js"></script>
        <script src="js/controllers/service.edit.controller.js"></script>
        <script src="js/controllers/branch.navigate.controller.js"></script>
        <script src="js/controllers/branch.create.controller.js"></script>
        <script src="js/controllers/branch.edit.controller.js"></script>
        <script src="js/controllers/window.navigate.controller.js"></script>
        <script src="js/controllers/journey.selection.controller.js"></script>
        <script src="js/controllers/tenant.styles.controller.js"></script>
        <script src="js/controllers/user.create.js"></script>
        
        <script src="js/factories/register.user.resource.js"></script>
        <script src="js/factories/register.tenant.resource.js"></script>
		<script src="js/factories/login.user.resource.js"></script>
		<script src="js/factories/localStorage.factory.js"></script>
        <script src="js/factories/bus.resource.js"></script>
        <script src="js/factories/journey.resource.js"></script>
        <script src="js/factories/busStop.resource.js"></script>
        <script src="js/factories/route.resource.js"></script>
        <script src="js/factories/service.resource.js"></script>
        <script src="js/factories/branch.resource.js"></script>
        <script src="js/factories/ticket.resource.js"></script>


        <!-- DIRECTIVES -->
        <script src="js/directives/background.select.js"></script>

        <!-- SCRIPTS -->
    </head>
    <body layout="column" layout-align="top center" layout-fill ng-cloak>


        <md-toolbar layout="row" ng-controller="IndexController" back-Img="img/Abstract_Blue.jpg">
            <h1 flex class="USBusTitle" layout-align="top center" style="max-height: 150px;">
                <div flex="50" ng-controller="IndexController"  layout-align="start center" class="pointer" ng-click="redirectTo('');">
                    <img hide show-gt-xs src="img/USBus2.png" class="logo"/>
                    <span>{{tenantName}}</span>
                </div>

            </h1>
            <div layout="row" layout-align="end center">
                <img hide show-gt-xs src="img/Red_Bus.png" class="customBus bigCustomBus" style="width: 350px;"/>
                <img hide-gt-xs src="img/Red_Bus.png" class="customBus smallCustomBus"/>

            </div>
            <div layout="row" layout-align="end center" flex layout-margin layout-padding>
                <div layout-padding=""  layout-align="center center" ng-cloak="" class="whiteframedemoDirectiveAttributeUsage " >
                    <div class="ripplelink " md-whiteframe="1" layout="" layout-align="center center" ng-show="userName != 'Invitado'">
                        <i layout-padding class="material-icons">account_box</i>
                        <span class="whiteColor" hide show-gt-xs>{{userName}}</span>
                    </div>
                    <div class="ripplelink pointer " md-whiteframe="1" layout="" layout-align="center center" ng-show="userName == 'Invitado'" ng-click="login($event);" >
                        <span class="whiteColor" hide show-gt-xs>Ingresar</span>
                        <md-button class="md-icon-button" aria-label="Settings" >
                            <ng-md-icon icon="login" size="32"  >
                                <i class="material-icons whiteColor">input</i>
                                <md-tooltip md-direction="right">Ingresar</md-tooltip>
                            </ng-md-icon>
                        </md-button>
                    </div>
                </div>
            </div>

        </md-toolbar>

		<div layout="column" ng-controller="IndexController" md-theme="{{ dynamicTheme }}" md-theme-watch style="width: 100%" ng-cloak="" flex class="sidenavdemoBasicUsage" >
           <section layout="row" >
                <div  class="layout-padding " layout="column" hide show-gt-md ng-show="menuOptions != null && menuOptions.length > 0"  flex="25" >
                    <md-button class="md-raised md-primary customButton" ng-repeat="item in menuOptions" ng-click="redirectTo(item.url)">
                        <md-icon class="indexIcon">{{item.icon}}</md-icon>
                        <span class="indexMenuOptions" >{{item.name}}</span>
                    </md-button>
                </div>

               <div hide >
                   <md-sidenav layout-fill class="md-sidenav-left" md-component-id="left"  md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop="" md-whiteframe="4">
                       <md-content class="" style="background-color: rgb(63,81,181);" >

                            <span ng-repeat="item in menuOptions"  ng-click="redirectTo(item.url);" class="pointer">
                                <p hide-md="" show-gt-md="" style="padding-left: 10%; color:white;" >
                                    <md-icon class="indexIcon">{{item.icon}}</md-icon> <span style="padding-left: 15px;" >{{item.name}}</span>
                                </p>
                                <md-divider ></md-divider>
                            </span>


                        </md-content>

                    </md-sidenav>


                </div>
               <div hide-gt-md ng-show="menuOptions != null && menuOptions.length > 0"  >
                   <md-fab-speed-dial md-direction="down" class=" md-scale">
                       <md-fab-trigger>
                           <md-button aria-label="menu" class="md-fab md-warn">
                               <md-icon>menu</md-icon>
                           </md-button>
                       </md-fab-trigger>
                       <md-fab-actions>
                           <!-- MENU VIRTUAL STORAGES NAVIGATE -->
                           <span ng-repeat="item in menuOptions" >
                               <md-button  aria-label="RemoveStock" class="md-fab md-raised md-mini md-accent" ng-click="redirectTo(item.url);">
                                   <md-tooltip md-direction="top">{{item.name}}</md-tooltip>
                                   <md-icon>{{item.icon}}</md-icon>
                               </md-button>
                           </span>
                       </md-fab-actions>
                   </md-fab-speed-dial>
               </div>

			    <md-content flex="grow" layout-margin  layout-padding layout-wrap ng-view class="customContent"> </md-content>

            </section>

        </div>


        

    </body>
</html>

