<h1 class="grayHeader" layout layout-margin>Sucursales</h1>
<div id="map" class="slideable" ng-cloak="">
    <ng-map center="-34.908894599999996,-56.197728299999994" zoom="15">
        <marker position="[{{add}}]" ng-repeat="add in address"></marker>
    </ng-map>
</div>

<span slide-toggle="#map" class="pointer" ng-click="toggleMap()">{{show}} Mapa</span>


<form name="inputForm" novalidate >
    <h3 class="grayHeader" ng-show="branches == null || branches.length == 0" layout layout-margin>{{message}}</h3>
    <md-content ng-show="branches != null && branches.length > 0" >
        <span layout="row" >
            <h3 hide-md="" show-gt-md="" class="grayHeader tableRowBusStop" style="" >
                Nombre
            </h3>
            <h3 hide-md="" show-gt-md="" class="grayHeader tableRowBusStop" >
                Cajas
            </h3>
            <h3 hide-md="" show-gt-md="" class="grayHeader " >
                Acciones
            </h3>
        </span>
        <md-divider ></md-divider>
        <span>
            <span layout="row" ng-repeat="item in branches" >
                <p hide-md="" show-gt-md="" class="tableRowBusStop" >
                    {{item.name}}
                </p>
                <p hide-md="" show-gt-md="" class="tableRowBusStop" >
                    {{item.windows.length}}
                </p>
                
                <p hide-md="" show-gt-md="" class="" >
                    <img src="img/Edit_Icon.png" ng-click="showBranches(item, $event)" class="editIcon pointer"/>
                    <img src="img/Delete_Icon.png" ng-click="deleteBranch(item)" class="deleteIcon pointer"/>
                </p>
            </span>
        </span>
    </md-content>

    <md-button type="submit" layout="row" class="md-raised md-primary" ng-click="createBranch($event)">Crear Nueva Sucursal</md-button>
</form>