<md-dialog aria-label="Login" ng-cloak>
    <form name="inputForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Datos de la Unidad</h1>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()"> <i class="material-icons" aria-label="Close dialog">clear</i> </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content >
            <span flex></span>
            <md-input-container class="customInputRegister noMarginTopBottom">
                <label>Marca</label>
                <md-tooltip md-direction="right">Ingrese Marca de la Unidad</md-tooltip>
                <input ng-model="bus.brand" required>
            </md-input-container>
            <md-input-container class="customInputRegister noMarginTopBottom">
                <label>Modelo</label>
                <md-tooltip md-direction="right">Ingrese Modelo de la Unidad</md-tooltip>
                <input ng-model="bus.model" required>
            </md-input-container>
            <md-input-container class="customInputRegister noMarginTopBottom">
                <label>Kilometraje</label>
                <md-tooltip md-direction="right">Ingrese Kilometraje de la Unidad</md-tooltip>
                <input type="number" ng-model="bus.kms" required>
            </md-input-container>
            <md-input-container class="customInputRegister noMarginTopBottom">
                <label>Próximo Mantenimiento</label>
                <md-tooltip md-direction="right">Ingrese Próximo Mantenimiento</md-tooltip>
                <input ng-model="bus.nextMaintenance" >
            </md-input-container>
            <md-input-container class="customInputRegister noMarginTopBottom">
                <label>Número de Asientos</label>
                <md-tooltip md-direction="right">Ingrese Número de Asientos</md-tooltip>
                <input type="number" ng-model="bus.seats" required >
            </md-input-container>
            <md-input-container class="customInputRegister noMarginTopBottom">
                <label>Número de Pasajeros de Pie</label>
                <md-tooltip md-direction="right">Ingrese Número de Pasajeros de Pie</md-tooltip>
                <input type="number" ng-model="bus.standingPassengers" required >
            </md-input-container>
            <md-input-container class="customInputRegister noMarginTopBottom">
                <label>Capacidad para encomiendas (kg)</label>
                <md-tooltip md-direction="right">Ingrese Capacidad para encomiendas</md-tooltip>
                <input type="number" ng-model="bus.trunkMaxWeight" required >
            </md-input-container>

            <span flex></span>
        </md-dialog-content>


        <md-dialog-actions class="md-actions" layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" ng-disabled="inputForm.$invalid" ng-click="updateBus(bus)">Guardar</md-button>
            <md-button class="md-raised" ng-click="cancel()">Cancelar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>


    