<md-dialog aria-label="Login" ng-cloak
           style="width: 50%;">
    <form name="inputForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Datos de la parada</h1>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()"> <i class="material-icons" aria-label="Close dialog">clear</i> </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content >
            <span flex></span>

            <md-input-container class="customInput">
                <label>Nombre</label>
                <md-tooltip md-direction="top">Ingrese nombre de la parada</md-tooltip>
                <input ng-model="busStop.name" name="busName" required>
            </md-input-container>
            <md-input-container class="customInput">
                <label>Tiempo de espera</label>
                <md-tooltip md-direction="top">Ingrese tiempo de espera</md-tooltip>
                <input type="number" ng-model="busStop.stopTime" name="stopTime" required>
            </md-input-container>

            <span flex></span>
        </md-dialog-content>


        <md-dialog-actions class="md-actions" layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click='createBusStop(busStop)'>Ingresar</md-button>
            <md-button class="md-raised" ng-click="cancel()">Cancelar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>


