<md-dialog aria-label="Login" ng-cloak  md-theme="{{theme}}" flex="25" md-theme-watch="true"
>
    <form name="inputForm" novalidate >
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Datos de la parada</h1>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()"> <i class="material-icons" aria-label="Close dialog">clear</i> </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout layout-margin>
            <span flex></span>
            <div layout="column" style="padding-top: 20px">
                <md-input-container  layout-margin flex>
                    <label>Nombre</label>
                    <md-tooltip md-direction="top">Ingrese nombre de la parada</md-tooltip>
                    <input ng-model="busStop.name" name="busName" required>
                </md-input-container>
                <md-input-container  layout-margin flex>
                    <label>Tiempo de espera</label>
                    <md-tooltip md-direction="top">Ingrese tiempo de espera</md-tooltip>
                    <input type="number" ng-model="busStop.stopTime" name="stopTime" required>
                </md-input-container>
                <md-input-container layout-margin flex>
                    <label  layout-margin layout>Dirección</label>
                    <md-tooltip md-direction="top">Ingrese Dirección de la Parada</md-tooltip>
                    <input ng-model="busStop.address" required  layout-margin layout>
                </md-input-container>
            </div>


            <span flex></span>
        </md-dialog-content>


        <md-dialog-actions class="md-actions" layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click='updateBusStop(busStop)'>Guardar</md-button>
            <md-button class="md-raised" ng-click="cancel()">Cancelar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>



    