
<div layout="row" layout-padding="" layout-align="center center" layout-wrap="" style="padding-bottom: 32px;" ng-cloak="" class="wrapper whiteframedemoDirectiveAttributeUsage" ng-show="token != null">


    <div class="ripplelink padded" md-whiteframe="1" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center" ng-click="redirectTo('admin')">
        <img class="bigHomeImages" src="img/Admin.png"/>
        <span hide show-gt-xs class="bigHomeSpan">Administración</span>
    </div>

    <div class="ripplelink padded" md-whiteframe="2" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center" ng-click="redirectTo('tickets')">
        <img class="smallHomeImages" src="img/Tickets.png"/>
        <span hide show-gt-xs class="smallHomeSpan">Caja y Boletería</span>
    </div>

    <div class="ripplelink padded" md-whiteframe="3" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center" ng-click="redirectTo('schedule')">
        <i class="material-icons">format_color_fill</i>
        <span hide show-gt-xs class="bigHomeSpan">Ver Agenda</span>

    </div>

    <div class="ripplelink padded" md-whiteframe="4" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center" ng-click="redirectTo('workshop')">
        <img class="bigHomeImages" src="img/Workshop.png"/>
        <span hide show-gt-xs class="bigHomeSpan">Taller</span>

    </div>

    <div class="ripplelink padded" md-whiteframe="5" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center" ng-click="redirectTo('accounting')">
        <img class="bigHomeImages" src="img/Accountant.png"/>
        <span hide show-gt-xs class="bigHomeSpan">Contabilidad</span>
    </div>

    <div class="ripplelink padded" md-whiteframe="6" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center" ng-click="redirectToHHRR()">
        <img class="bigHomeImages" src="img/HumanResources.png"/>
        <span hide show-gt-xs show-gt-ms >Gestión de personal</span>
    </div>
</div>

<div layout="row" layout-padding="" layout-align="center center" layout-wrap="" ng-cloak="" ng-show="token == null">
    <div class="padded" flex-sm="75" flex-gt-sm="75" flex-gt-md="75" layout="" layout-align="center center">
        <div layout="colum" layout-padding="" layout-align="center center" layout-wrap="" ng-cloak="">
            <h2 class="grayHeader">Para poder disfrutar de nuestras funcionalidades, es necesario que ingrese al sistema.</h2>
        </div>
    </div>
</div>

