
<div layout="row" layout-padding="" layout-align="center center" layout-wrap="" style="padding-bottom: 32px;" ng-cloak="" class="wrapper whiteframedemoDirectiveAttributeUsage">


    <div class="ripplelink padded" md-whiteframe="1" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center" ng-click="redirectTo('admin')">
        <img style="height: 40px; padding-right: 15px;" src="img/Admin.png"/>
        <span hide show-gt-xs style="padding-right: 40px">Administración</span>
    </div>

    <div class="ripplelink padded" md-whiteframe="2" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center" ng-click="redirectTo('tickets')">
        <img style="height: 30px; padding-right: 15px;" src="img/Tickets.png"/>
        <span hide show-gt-xs style="padding-right: 30px">Caja y Boletería</span>
    </div>

    <div class="ripplelink padded" md-whiteframe="3" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center" ng-click="redirectTo('boxes')">
        <img style="height: 40px; padding-right: 15px;" src="img/Boxes.png"/>
        <span hide show-gt-xs style="padding-right: 40px">Encomiendas</span>
    </div>

    <div class="ripplelink padded" md-whiteframe="4" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center" ng-click="redirectTo('workshop')">
        <img style="height: 40px; padding-right: 15px;" src="img/Workshop.png"/>
        <span hide show-gt-xs style="padding-right: 40px">Taller</span>

    </div>

    <div class="ripplelink padded" md-whiteframe="5" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center" ng-click="redirectTo('accountant')">
        <img style="height: 40px; padding-right: 15px;" src="img/Accountant.png"/>
        <span hide show-gt-xs style="padding-right: 40px">Contabilidad</span>
    </div>

    <div class="ripplelink padded" md-whiteframe="6" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center" ng-click="redirectTo('humanResources')">
        <img style="height: 40px; padding-right: 15px;" src="img/HumanResources.png"/>
        <span hide show-gt-xs show-gt-ms style="padding-right: 40px">Gestión de personal</span>
    </div>
</div>
