
<md-dialog aria-label="Crear Viaje" ng-cloak md-theme="{{theme}}"  md-theme-watch="true">
    <form name="inputForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="">Datos del Viaje</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()"> <i class="material-icons" aria-label="Close dialog">clear</i> </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout-padding>
            <span flex></span>

            <div layout="row" >
                <md-input-container class="" layout-margin>
                    <label>Número de ómnibus</label>
                    <md-tooltip md-direction="top">Ingrese Número de Ómnibus</md-tooltip>
                    <input type="number" ng-model="journey.busNumber" required>
                </md-input-container>

                <md-input-container class="" >
                    <md-checkbox ng-model="journey.thirdPartyBus" aria-label="Checkbox 1">
                        Es una unidad externa?
                    </md-checkbox>
                </md-input-container>
            </div>

            <div layout="row">
                <md-autocomplete
                        md-selected-item="journey.service"
                        md-no-cache=true
                        md-search-text-change="queryService(serviceName)"
                        md-min-length="3"
                        md-items="item in queryService(serviceName)"
                        md-item-text="item.name"
                        md-search-text="serviceName"
                        md-floating-label="Servicio"
                        md-input-id="serviceId"
                        required  layout-margin>

                    <md-item-template>
                        <span md-highlight-text="item.name" md-highlight-flags="^i"> {{ item.name }}</span>
                    </md-item-template>
                    <md-not-found>No se han encontrado servicios con este criterio.</md-not-found>
                </md-autocomplete>


                <md-autocomplete
                        md-selected-item="journey.bus"
                        md-no-cache=true
                        md-search-text-change="queryBus(busName)"
                        md-min-length="3"
                        md-items="busItem in queryBus(busName)"
                        md-item-text="busItem.id"
                        md-search-text="busName"
                        md-floating-label="Omnibus"
                        md-input-id="busId"
                        required  layout-margin>

                    <md-item-template>
                        <span md-highlight-text="busItem.id" md-highlight-flags="^i"> {{ busItem.id }}</span>
                    </md-item-template>
                    <md-not-found>No se han encontrado servicios con este criterio.</md-not-found>
                </md-autocomplete>
            </div>
            <div layout="row">

                <md-autocomplete
                        md-selected-item="journey.assistant"
                        md-no-cache=true
                        md-search-text-change="queryResource(assistantEmail)"
                        md-min-length="3"
                        md-items="hrItem in queryResource(assistantEmail)"
                        md-item-text="hrItem.email"
                        md-search-text="assistantEmail"
                        md-floating-label="Guarda"
                        md-input-id="hrId"
                        required  layout-margin>

                    <md-item-template>
                        <span md-highlight-text="hrItem.email" md-highlight-flags="^i"> {{ hrItem.email }}</span>
                    </md-item-template>
                    <md-not-found>No se han encontrado servicios con este criterio.</md-not-found>
                </md-autocomplete>


                <md-autocomplete
                        md-selected-item="journey.driver"
                        md-no-cache=true
                        md-search-text-change="queryResource(driverEmail)"
                        md-min-length="3"
                        md-items="hrDriverItem in queryResource(driverEmail)"
                        md-item-text="hrDriverItem.email"
                        md-search-text="driverEmail"
                        md-floating-label="Chofer"
                        md-input-id="hrDriverId"
                        required  layout-margin>

                    <md-item-template>
                        <span md-highlight-text="hrDriverItem.email" md-highlight-flags="^i"> {{ hrDriverItem.email }}</span>
                    </md-item-template>
                    <md-not-found>No se han encontrado servicios con este criterio.</md-not-found>
                </md-autocomplete>

            </div>
        </md-dialog-content>


        <md-dialog-actions class="md-actions" layout="row">
            <md-button type="submit" layout="row" layout-align="center center" class="md-raised md-primary" ng-disabled="inputForm.$invalid" ng-click='createJourney(journey)'>Crear Viaje</md-button>
            <md-button class="md-raised" ng-click="cancel()">Cancelar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>