<md-content md-theme="" layout-align="center center" layout-padding>
    <h1 class="grayHeader">Viajes disponibles</h1>
</md-content>

<form name="inputForm" novalidate >
    <div layout="column" ng-cloak class="md-inline-form" >
        <div layout-gt-xs="row" >
            <md-input-container class="customInputRegister" flex-gt-xs="50" layout-padding>
                <label>Fecha</label>
                <md-tooltip md-direction="top">Ingrese Fecha de viaje</md-tooltip>
                <input type="date" ng-model="date">
            </md-input-container>

        </div>
        <div layout-gt-xs="row">
            <md-input-container class="customInputRegister" layout-padding>
                <label>Origen</label>
                <md-tooltip md-direction="top">Ingrese Fecha de nacimiento</md-tooltip>
                <input ng-model="from">
            </md-input-container>
            <md-input-container class="customInputRegister" layout-padding>
                <label>Destino</label>
                <md-tooltip md-direction="top">Ingrese Fecha de nacimiento</md-tooltip>
                <input ng-model="to">
            </md-input-container>
        </div>
        <md-button type="submit" layout="row" layout-align="center center" class="md-raised md-primary" ng-click="getJourneys(from, to, date)">Buscar</md-button>
    </div>



    <md-content ng-show="journeys != null && journeys.length > 0">
        <span layout="row" >
            <h3 hide-md="" show-gt-md="" class="grayHeader tableRow" style="" >
                Nro. de ómnibus
            </h3>
            <h3 hide-md="" show-gt-md="" class="grayHeader tableRow" >
                Servicio
            </h3>
            <h3 hide-md="" show-gt-md="" class="grayHeader tableRow" >
                Día
            </h3>
            <h3 hide-md="" show-gt-md="" class="grayHeader tableRow" >
                Hora
            </h3>
        </span>
        <md-divider ></md-divider>
        <span>
            <span layout="row" ng-repeat="item in journeys" ng-click="showTicket(item, $event)" class="pointer">

                <p hide-md="" show-gt-md="" class="tableRow" >
                    {{item.name}}
                </p>
                <p hide-md="" show-gt-md="" class="tableRow" >
                    test
                </p>
                <p hide-md="" show-gt-md="" class="tableRow" >
                    test
                </p>
                <p hide-md="" show-gt-md="" class="tableRow" >
                    test
                </p>
            </span>
        </span>
    </md-content>

</form>