<div class="loading2"  layout="row" style="position:absolute;background-colo">
<div class="loader">
  <div class="loader__arm"></div>
</div>
<div class="loader">
  <div class="loader__arm"></div>
</div><div class="loader">
  <div class="loader__arm"></div>
</div><div class="loader">
  <div class="loader__arm"></div>
</div><div class="loader">
  <div class="loader__arm"></div>
</div><div class="loader">
  <div class="loader__arm"></div>
</div><div class="loader">
  <div class="loader__arm"></div>
</div><div class="loader">
  <div class="loader__arm"></div>
</div><div class="loader">
  <div class="loader__arm"></div>
</div><div class="loader">
  <div class="loader__arm"></div>
</div><div class="loader">
  <div class="loader__arm"></div>
</div><div class="loader">
  <div class="loader__arm"></div>
</div>
</div>