<h1 class="grayHeader">TU asdasdasd</h1>
<form name="inputForm" novalidate >
    <h3 class="grayHeader" ng-show="vm.parcels == null || vm.parcels.length == 0">{{vm.message}}</h3>
    <div ng-cloak class="md-inline-form" >
        <div layout-gt-xs="row" >
            <mdp-date-picker ng-model="vm.enteredDate" mdp-placeholder="Fecha de ingreso"></mdp-date-picker>
            <mdp-date-picker ng-model="vm.shippedDate" mdp-placeholder="Fecha de embarco"></mdp-date-picker>
        </div>
        <div layout-gt-xs="row">
            <md-autocomplete
                    md-selected-item="vm.origin"
                    md-no-cache=true
                    md-search-text-change="vm.queryBusStops(vm.originName)"
                    md-min-length="3"
                    md-items="vm.origin in vm.queryBusStops(vm.originName)"
                    md-item-text="vm.origin.name"
                    md-search-text="vm.originName"
                    md-floating-label="Origen"
                    md-input-id="originId"
                    layout-margin>

                <md-item-template>
                    <span md-highlight-text="vm.origin.name" md-highlight-flags="^i"> {{ vm.origin.name }}</span>
                </md-item-template>
                <md-not-found>No se han encontrado elementos con este criterio.</md-not-found>
            </md-autocomplete>

            <md-autocomplete
                    md-selected-item="vm.destination"
                    md-no-cache=true
                    md-search-text-change="vm.queryBusStops(vm.destinationName)"
                    md-min-length="3"
                    md-items="vm.destination in vm.queryBusStops(vm.destinationName)"
                    md-item-text="vm.destination.name"
                    md-search-text="vm.destinationName"
                    md-floating-label="Destino"
                    md-input-id="destinationId"
                    layout-margin>

                <md-item-template>
                    <span md-highlight-text="vm.destination.name" md-highlight-flags="^i"> {{ vm.destination.name }}</span>
                </md-item-template>
                <md-not-found>No se han encontrado elementos con este criterio.</md-not-found>
            </md-autocomplete>
        </div>
        <div layout-gt-xs="row">
            <md-button type="submit" layout="row" layout-align="center center" class="md-raised md-primary" ng-click="vm.getParcels($event,vm.origin, vm.destination, vm.enteredDate, vm.shippedDate)">Buscar</md-button>
            <md-button type="submit" layout="row" layout-align="center center" class="md-raised md-primary" ng-click="vm.createParcel($event)">Crear encomienda</md-button>
        </div>
        <!--<md-button type="submit" ng-disabled="inputForm.$invalid" ng-show="selectedIndex == 0" layout="row" layout-align="center center" class="md-raised md-primary" ng-click="vm.getJourneys(vm.origin, vm.destination, vm.date)">Buscar</md-button>-->
    </div>
    <md-content ng-show="vm.parcels != null && vm.parcels.length > 0">
        <span layout="row" >
            <h3 hide-md="" show-gt-md="" class="grayHeader tableRow" style="" >
                Matricula
            </h3>
            <h3 hide-md="" show-gt-md="" class="grayHeader tableRow" style="" >
                Marca
            </h3>
            <h3 hide-md="" show-gt-md="" class="grayHeader tableRow" >
                Modelo
            </h3>
            <h3 hide-md="" show-gt-md="" class="grayHeader tableRow" >
                Kilometraje
            </h3>
            <h3 hide-md="" show-gt-md="" class="grayHeader tableRow" >
                Próximo Mantenimiento
            </h3>
            <h3 hide-md="" show-gt-md="" class="grayHeader tableRow" >
                Número de Asientos
            </h3>
            <h3 hide-md="" show-gt-md="" class="grayHeader tableRow" >
                Número de Pasajeros de Pie
            </h3>
            <h3 hide-md="" show-gt-md="" class="grayHeader tableRow" >
                Capacidad para encomiendas (kg)
            </h3>
            <h3 hide-md="" show-gt-md="" class="grayHeader tableRow" >
                Acciones
            </h3>
        </span>
        <md-divider ></md-divider>
        <span>
            <span layout="row" ng-repeat="item in buses" >
                <p hide-md="" show-gt-md="" class="tableRow" >
                    {{item.id}}
                </p>
                <p hide-md="" show-gt-md="" class="tableRow" >
                    {{item.brand}}
                </p>
                <p hide-md="" show-gt-md="" class="tableRow" >
                    {{item.model}}
                </p>
                <p hide-md="" show-gt-md="" class="tableRow" >
                    {{item.kms}}
                </p>
                <p hide-md="" show-gt-md="" class="tableRow" >
                    {{item.nextMaintenance}}
                </p>
                <p hide-md="" show-gt-md="" class="tableRow" >
                    {{item.seats}}
                </p>
                <p hide-md="" show-gt-md="" class="tableRow" >
                    {{item.standingPassengers}}
                </p>
                <p hide-md="" show-gt-md="" class="tableRow" >
                    {{item.trunkMaxWeight}}
                </p>

                <p hide-md="" show-gt-md="" class="tableRow" >
                    <img src="img/Edit_Icon.png" ng-click="showBus(item, $event)" class="editIcon pointer"/> 
                    <img src="img/Delete_Icon.png" ng-click="deleteBus(item)" class="deleteIcon pointer"/>
                </p>
            </span>
        </span>
    </md-content>

    <!--<md-button type="submit" layout="row" layout-align="center center" class="md-raised md-primary" ng-click="createBus($event)">Crear Nueva unidad</md-button>-->
</form>