<form name="inputForm" novalidate >
    <md-content md-theme="" layout-padding>
			<h1 class="grayHeader">Registro de empresa</h1>
	</md-content>
    <div layout="column" ng-cloak class="md-inline-form" >
        <div layout-gt-xs="row">
            <md-content md-theme="" layout-padding class="customInput registerContainer">
                <div>
                    <h2 class="grayHeader">Datos de administración</h2>
                    <md-input-container class="customInputRegister">
                        <label>Nombre de empresa</label>
                        <md-tooltip md-direction="top">Ingrese nombre de la empresa</md-tooltip>
                        <input ng-model="tenant.name" required>
                    </md-input-container>
                    <md-input-container class="customInputRegister">
                        <label>Nombre de usuario</label>
                        <md-tooltip md-direction="top">Ingrese nombre de usuario</md-tooltip>
                        <input ng-model="user.username" required>
                    </md-input-container>
                    <md-input-container class="customInputRegister">
                        <label>Email</label>
                        <md-tooltip md-direction="top">Ingrese correo electrónico</md-tooltip>
                        <input ng-model="user.email" required>
                    </md-input-container>
                </div>
            </md-content>
            <md-content md-theme="" layout-padding class="customInput registerContainer" >
                <div>
                    <h2 class="grayHeader">Datos personales</h2>
                    <md-input-container class="customInputRegister">
                        <label>Nombre</label>
                        <md-tooltip md-direction="top">Ingrese primer nombre</md-tooltip>
                        <input ng-model="user.firstName" required>
                    </md-input-container>

                    <md-input-container class="customInputRegister">
                        <label>Apellido</label>
                        <md-tooltip md-direction="top">Ingrese apellido</md-tooltip>
                        <input ng-model="user.lastName" required>
                    </md-input-container>


                    <md-input-container class="customInputRegister">
                        <label>Fecha de nacimiento</label>
                        <md-tooltip md-direction="top">Ingrese Fecha de nacimiento</md-tooltip>
                        <input type="date" ng-model="user.birthDate" required>
                    </md-input-container>
					<div style="clear:both"></div>
					<md-input-container class="" layout="row">
						<label style="padding-bottom: 10px" >Sexo</label>
						
                        <md-tooltip md-direction="top">Ingrese sexo</md-tooltip>
                        <md-radio-group layout="row" ng-model="gender">
                            <md-radio-button ng-value=0 class="md-primary"><span class="label">Masculino</span></md-radio-button>
                            <md-radio-button ng-value=1> <span class="label">Femenino</span> </md-radio-button>
                            <md-radio-button ng-value=2> <span class="label">Otro</span> </md-radio-button>
                        </md-radio-group>

                    </md-input-container>
                </div>
            </md-content>
        </div>
		
        <span flex></span>
		
        <md-button hide show-gt-xs layout="row" style="width:9.5%; margin-left: 90%" layout-align="center center" class="md-raised md-primary" ng-click='register(tenant,user)'>Registrar</md-button>
		<md-button hide-gt-xs layout="row" layout-align="center center" class="md-raised md-primary" ng-click='register(tenant,user)'>Registrar</md-button>
		
    </div>
</form>