<form name="inputForm" novalidate>
    <div layout="column" ng-cloak class="md-inline-form">
        <md-content md-theme="dark" layout-padding>
            <div>
                <md-input-container>
                    <label>Usuario</label>
                    <md-tooltip md-direction="top">Ingrese el nombre de usuario</md-tooltip>
                    <input ng-model="user.username" required>
                </md-input-container>
                <md-input-container>
                    <label>Email</label>
                    <md-tooltip md-direction="top">Ingrese el nombre de usuario</md-tooltip>
                    <input ng-model="user.email" required>
                </md-input-container>
            </div>
        </md-content>
        <md-content layout-padding>
            <div>
                <md-input-container>
                    <label>Número de tenant</label>
                    <md-tooltip md-direction="top">Ingrese el número del tenant</md-tooltip>
                    <input ng-model="tenant.tenantId" required>
                </md-input-container>
                <md-input-container>
                    <label>Nombre de tenant</label>
                    <md-tooltip md-direction="top">Ingrese el nombre de la empresa</md-tooltip>
                    <input ng-model="tenant.name" required>
                </md-input-container>
            </div>
        </md-content>
        <span flex></span>
        <md-button class="md-raised md-primary" ng-click='register(tenant,user)'>Registrar</md-button>
    </div>
</form>