<md-dialog aria-label="Crear Ruta" ng-cloak>
    <form name="inputForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="">Datos de la Ruta</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()"> <i class="material-icons" aria-label="Close dialog">clear</i> </md-button>
            </div>
        </md-toolbar>

        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Datos de Ruta">

                <md-dialog-content >
                    <span flex></span>

                    <md-input-container class="customInput">
                        <label>Nombre</label>
                        <md-tooltip md-direction="top">Ingrese Nombre de la Ruta</md-tooltip>
                        <input ng-model="route.name" required>
                    </md-input-container>
                    <md-input-container class="customInput">
                        <label>Origen</label>
                        <md-tooltip md-direction="top">Ingrese Origen de la Ruta</md-tooltip>
                        <input ng-model="route.origin" required>
                    </md-input-container>

                     <md-input-container class="customInput">
                        <label>Destino</label>
                        <md-tooltip md-direction="top">Ingrese Destino de la Ruta</md-tooltip>
                        <input ng-model="route.destination" required>
                    </md-input-container>
                     <md-input-container class="customInput">
                         <md-tooltip md-direction="top">Ingrese si es Combinación</md-tooltip>
                         <md-checkbox ng-model="route.hasCombination" aria-label="Envio de encomiendas">
                             <span class="customInput">Combinación</span>
                         </md-checkbox>
                    </md-input-container>
                     <md-input-container class="customInput">
                        <label>Precio por kilómetro</label>
                        <md-tooltip md-direction="top">Ingrese Precio por Kilómetro</md-tooltip>
                        <input type="number" ng-model="route.pricePerKm" required >
                    </md-input-container>
                     <span flex></span>
                </md-dialog-content>
            </md-tab>
            <md-tab label="Información de las Paradas">
                <md-container layout="row">
                    <md-input-container class="customInput">
                        <label>Nombre</label>
                        <md-tooltip md-direction="top">Ingrese Nombre de la Ruta</md-tooltip>
                        <input ng-model="item.name" >
                    </md-input-container>
                    <md-input-container class="customInput">
                        <label>Kilómetro</label>
                        <md-tooltip md-direction="top">Ingrese Nombre de la Ruta</md-tooltip>
                        <input ng-model="item.name" >
                    </md-input-container>
                    <md-input-container class="customInput">
                        <label>Combinación</label>
                        <md-tooltip md-direction="top">Ingrese si es Combinación</md-tooltip>
                        <input ng-model="item.name" >
                    </md-input-container>

                </md-container>
                private String busStop;
                private Double km;
                private boolean isCombinationPoint;
                <md-button layout="row" layout-align="center center" class="md-raised md-primary" ng-disabled="inputForm.$invalid" ng-click='createRoute(route)'>Agregar Parada</md-button>

            </md-tab>
        </md-tabs>


        <md-dialog-actions class="md-actions" layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary"	ng-hide="selectedIndex != 0" ng-click="nextTab()">Siguiente</md-button>
            <md-button class="md-raised md-primary"	ng-hide="selectedIndex == 0" ng-click='sell(user)'>Crear Ruta</md-button>
            <md-button class="md-raised" ng-click="cancel()">Cancelar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>