
<md-dialog aria-label="Crear Servicio" ng-cloak  md-theme="{{theme}}" md-theme-watch="true" flex>
    <form name="inputForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="">Datos del Servicio</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()"> <i class="material-icons" aria-label="Close dialog">clear</i> </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column">
            <span flex></span>
            <md-content layout="column" layout layout-padding>
                <md-input-container class="">
                    <label>Nombre</label>
                    <md-tooltip md-direction="top">Ingrese Nombre del Servicio</md-tooltip>
                    <input ng-model="service.name" required>
                </md-input-container>
                <md-input-container class="">
                    <md-content layout="row">
                        <div ng-repeat="day in days" layout layout-padding>
                            <md-checkbox ng-checked="exists(day.value, selectedDays)" ng-click="toggle(day.value, selectedDays)" aria-label="Dia">
                                {{ day.name }}
                            </md-checkbox>
                        </div>
                    </md-content>
                </md-input-container>

                <md-input-container class="">
                    <label>Hora</label>
                    <md-tooltip md-direction="top">Ingrese Hora del Servicio</md-tooltip>
                    <input type="number" ng-model="hour" required>:<input type="number" ng-model="minute" required>
                </md-input-container>
                <md-input-container class="">
                    <label>Ruta</label>
                    <md-tooltip md-direction="top">Ingrese Ruta del Serivicio</md-tooltip>

                    <md-select ng-model="service.route._id">
                        <md-option ng-repeat="route in routes" value="{{route._id}}" ng-disabled="!{{route.active}}">
                            {{route.name}}
                        </md-option>
                    </md-select>

                </md-input-container>
                <md-input-container class="">
                    <label>Cantidad de unidades</label>
                    <md-tooltip md-direction="top">Ingrese Cantidad de Unidades</md-tooltip>
                    <input type="number" ng-model="service.numberOfBuses" required>
                </md-input-container>
            </md-content>

            <span flex></span>
        </md-dialog-content>


        <md-dialog-actions class="md-actions" layout="row">
            <span flex></span>
            <md-button type="submit" layout="row" layout-align="center center" class="md-raised md-primary" ng-disabled="inputForm.$invalid" ng-click='createService(service)'>Crear Servicio</md-button>
            <md-button class="md-raised" ng-click="cancel()">Cancelar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>