<form name="inputForm" novalidate >
    <h1 class="grayHeader">{{message}}</h1>
    <md-content ng-show="services != null && services.length > 0">
        <span layout="row" >
            <h3 hide-md="" show-gt-md="" class="grayHeader tableRow" style="" >
                Nombre
            </h3>
            <h3 hide-md="" show-gt-md="" class="grayHeader tableRow" >
                Dia
            </h3>
            <h3 hide-md="" show-gt-md="" class="grayHeader tableRow" >
                Hora
            </h3>
            <h3 hide-md="" show-gt-md="" class="grayHeader tableRow" >
                Ruta
            </h3>
            <h3 hide-md="" show-gt-md="" class="grayHeader tableRow" >
                Cantidad de unidades
            </h3>
            <h3 hide-md="" show-gt-md="" class="grayHeader tableRow" >
                Acciones
            </h3>
        </span>
        <md-divider ></md-divider>
        <span>
            <span layout="row" ng-repeat="item in services" >
                <p hide-md="" show-gt-md="" class="tableRow" >
                    {{item.name}}
                </p>
                <p hide-md="" show-gt-md="" class="tableRow" >
                    {{item.day}}
                </p>
                <p hide-md="" show-gt-md="" class="tableRow" >
                    {{item.time}}
                </p>
                <p hide-md="" show-gt-md="" class="tableRow" >
                    {{item.route.name}}
                </p>
                <p hide-md="" show-gt-md="" class="tableRow" >
                    {{item.numberOfBuses}}
                </p>
                <p hide-md="" show-gt-md="" class="tableRow" >
                    <img src="img/Edit_Icon.png" ng-click="showServices(item, $event)" class="editIcon pointer"/>
                    <img src="img/Delete_Icon.png" ng-click="deleteService(item.name)" class="deleteIcon pointer"/>
                </p>
            </span>
        </span>
    </md-content>

    <md-button type="submit" layout="row" layout-align="center center" class="md-raised md-primary" ng-click="createService($event)">Crear Nuevo Servicio</md-button>
</form>