<md-dialog aria-label="Crear Tenant" ng-cloak >
    <form name="inputForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>{{tobedone}}</h1>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()"> <i class="material-icons" aria-label="Close dialog">clear</i> </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <span flex></span>

            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Elegir asientos">
                        <div >
                            <img src="../img/Bus_Top.png" style="height: 310px"/>
                            <md-content flex layout="column" style="position:absolute; left: 250px; top: 85px;">
                                <md-content layout="row">
                                    <md-content ng-repeat="item in firstRow" ng-click="selectedSeat(item);">
                                        <img ng-show="!exists(item, selected);" src="../img/Bus_Seat.png" style="height: 30px;" />
                                        <img ng-show="exists(item, selected);" src="../img/Red_Bus_Seat.png" style="height: 30px;" />
                                        <span style="position: absolute; top: 8px; left: 10px">
                                            {{item}}
                                        </span>
                                    </md-content>
                                </md-content>
                                <md-content class="" layout="row">
                                    <md-content ng-repeat="item in secondRow" ng-class="{'md-padding-bottom':$last}" ng-click="selectedSeat(item);">
                                        <img ng-show="!exists(item, selected);" src="../img/Bus_Seat.png" style="height: 30px;" />
                                        <img ng-show="exists(item, selected);" src="../img/Red_Bus_Seat.png" style="height: 30px;" />

                                        <span style="position: absolute; top: 8px; left: 10px">
                                            {{item}}
                                        </span>
                                    </md-content>
                                </md-content>
                                <md-content class="" layout="row">
                                    <md-content ng-repeat="item in thirdRow" ng-click="selectedSeat(item);">
                                        <img ng-show="!exists(item, selected);" src="../img/Bus_Seat.png" style="height: 30px;" />
                                        <img ng-show="exists(item, selected);" src="../img/Red_Bus_Seat.png" style="height: 30px;" />

                                        <span style="position: absolute; top: 8px; left: 10px">
                                            {{item}}
                                        </span>
                                    </md-content>
                                </md-content>
                                <md-content class="" layout="row">
                                    <md-content ng-repeat="item in fourthRow" ng-click="selectedSeat(item);">
                                        <img ng-show="!exists(item, selected);" src="../img/Bus_Seat.png" style="height: 30px;" />
                                        <img ng-show="exists(item, selected);" src="../img/Red_Bus_Seat.png" style="height: 30px;" />

                                        <span style="position: absolute; top: 8px; left: 10px">
                                            {{item}}
                                        </span>
                                    </md-content>
                                </md-content>
                            </md-content>
                        </div>
                    </md-tab>
                    <md-tab label="Datos de facturación">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Tab One</h1>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>


        </md-dialog-content>


        <md-dialog-actions class="md-actions" layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary"	ng-click='sell(user)'>Ingresar</md-button>
            <md-button class="md-raised" ng-click="cancel()">Cancelar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>


<!--

$mdDialog.show({
            locals:{dataToPass: $scope.parentScopeData},
            clickOutsideToClose: true,
            controllerAs: 'ctrl',
            templateUrl: 'quotation/edit/',//+edit_id,
            controller: mdDialogCtrl,
        });

var mdDialogCtrl = function ($scope, dataToPass) {
    $scope.mdDialogData = dataToPass
}

-->